
.container {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  background-color: var(--lp-black);
  color: #ffffff;
  font-weight: bold;
  padding: 2rem;
  position: relative;
}

.rate {
  position: absolute;
  z-index: -100;
  right: 0;
  background: var(--lp-green);
  padding: 1rem 2rem 1rem;
  height: 4rem;
  font-size: 1.8rem;
  box-shadow: 1px 0px 1px var(--lp-dark-grey);
}

.rateAnimation {
  animation: peek 1.5s infinite;
}

@keyframes peek {
  0% {top: 0px;}
  20% {top: -4.3rem} /* ignored */
  40% {top: -4.3rem; height: 5rem} /* ignored */
  50% {top: -4.3rem; height: 5rem} /* ignored */
  60% {top: -4.3rem; height: 5rem} /* ignored */
  70% {top: -4.3rem; height: 5rem} /* ignored */
  80% {top: -4.3rem; height: 5rem} /* ignored */
  100% {top: 0px;}
}

