.container {
  display: flex;
  font-weight: bold;
  height: 50vh;
  min-height: 250px;
  max-height: 600px;
  background: #efefef;
}

.container button {
  border-style: none;
  font-size: 2rem;
}

/* NUMERIC PAD */
.numericPad {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}

.numericPad button{
  display: flex;
  flex: 0 0 33.33%;
  border: 1px solid var(--lp-grey);
  align-items: center;
  justify-content: center;
}

/* OPERATION PAD */
.operationsPad {
  display: flex;
  flex-direction: column;
  width: 25.99%;
}

.operationsPad button {
  display: flex;
  flex: 0 0 25%;
  border: 1px solid var(--lp-grey);
  align-items: center;
  justify-content: center;
}

.operationsPad button:disabled {
  cursor: default;
  background-color: #efefef;
}

/* RESULTS PAD  */
.resultsPad {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.resultsPad button{
  display: flex;
  flex: 0 0 50%;
  border: 1px solid var(--lp-grey);
  align-items: center;
  justify-content: center;
  background-color: var(--lp-grey);
  border-bottom: 1px solid #968ea1;
  flex: 0 0 20%;
}

.resultsPad button:last-child {
  background-color: var(--lp-orange);
  color: var(--lp-white);
  font-weight: bolder;
  flex: 0 0 40%;
}

.resultsPad button:hover {
  transition: 0;
  font-weight: 700;
}

.resultsPad button:last-child:hover {
  background-color: var(--lp-dark-orange);
}

/* combined styles */
.numericPad button:hover,
.operationsPad button:hover,
.resultsPad button {
  cursor: pointer;
  background-color: var(--lp-grey);
  transition: 500ms;
  border: 1px solid var(--lp-dark-grey);
}